<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">このサイトはkb10uy自宅のRaspberry Pi Model B上で動作しています。</p>
    <div class="row">
      <div class="col-md-8">
        <h3>Side Story Serverについて</h3>
      </div>
      <div class="col-md-4">
        <h3>管理者(@kb10uy)に意見を送る</h3>
        <a href="https://twitter.com/intent/tweet?text=%40kb10uy+S3%E3%81%AE%E8%A6%81%E6%9C%9B%E3%81%A7%E3%81%99%E3%80%82%0D%0A">Twitterで送信</a>
      </div>
    </div>
  </div>
</footer>